option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: "credit_decision_ui:app"
    NumProcesses: 1
    NumThreads: 15
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    STREAMLIT_SERVER_HEADLESS: "true"
    STREAMLIT_SERVER_ENABLECORS: "false"
    STREAMLIT_CLIENT_TOOLBARMODE: "minimal"
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.medium
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: "true"
    DeleteOnTerminate: "false"
    RetentionInDays: 7

commands:
  01_install_streamlit:
    command: "source /var/app/venv/*/bin/activate && pip install streamlit"
